{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}마이페이지{% endblock %}

{% block body %}
<div class="container">
    <div class="profile-info mb-5">
        <h2>{{ request.user.username }}의 프로필 정보</h2>
        <div class="mb-3">
            <label class="form-label"><strong>전공:</strong></label>
            <div class="form-control" readonly>{{ major }}</div>
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>희망직무:</strong></label>
            <div class="form-control" readonly>{{ desired_job }}</div>
        </div>
    </div>

    <div class="interview-history">
        <h2>질문 생성 내역</h2>
        {% if interviews %}
        <ul class="list-group">
            {% for interview in interviews %}
            <li class="list-group-item my-list-item">
                <a href="{% url 'user_mypage:detail' interview.id %}" style="color: #333; font-size: 1.1rem;">
                    {{ interview.company_name }}의 면접 스크립트
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>질문 생성 내역이 없습니다.</p>
        {% endif %}
    </div>
</div>
{% endblock %}