body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    max-width: 800px;
}

.intro {
    font-size: 2em;
    margin-bottom: 30px;
}

.btn {
    font-size: 1.4em;
    padding: 12px 24px;
    background-color: #7a7575;
    color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.btn:hover {
    background-color: #333;
    color: white;
}